* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #DADADA;
    /* height: 100vh; */

}

.container {
    max-width: 50rem;
    margin: 0 auto;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.content {
    flex-grow: 1;
}


header {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: inset 0 0 1rem 0 #DADADA;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: inset 0 0 1rem 0 #DADADA;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;


}

.welcome {
    padding: 2rem 0;
}

.product {
    position: relative;


    background-color: white;
    border-radius: 1rem;
    box-shadow: inset 0 0 1rem 0 #DADADA;

    transition: all 0.2s ease-in-out;

}

.caroussel .product:hover {
    scale: 1.2;
}

.product .description {
    position: absolute;
    bottom: 0;
}

.product .price {
    position: absolute;
    top: 0;
    right: 0;
}

.product p {
    padding: 1rem;
}

.product img {
    max-width: 100%;
    max-height: 100%;
}


.caroussel {
    display: flex;
    gap: 1rem;
}

.productsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
}

.grid2columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}




.productContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}